:host {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0.5;
  border: 1px solid gray;
  text-align: left;
  min-width: 15ch;
  min-height: 26px;
  .drag-button {
    cursor: move;

    color: rgb(200, 200, 200);
    background-color: #696;

    &:hover {
      color: white;
    }
  }

  .buttons {
    position: absolute;
    right: 3px;
    top: -1px;
    button {
      padding: 1px;
      margin: 0;
      font-size: 12px;
      line-height: 10px;
    }
  }

  .hidden {
    display: none;
  }
}
