/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fieldset {
  min-width: 150px;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border: none;
  border-radius: 5px;
}

.centered-content {
    min-width: 150px;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}
